# 5장 파이썬 날개달기

## 5-1 클래스

### 클래스는 도대체 왜 필요한가?

In [2]:
# 계산기
result = 0

def adder(num):
    global result
    result += num
    return result
    
print(adder(3))
print(adder(4))

3
7

In [3]:
# 한 프로그램에서 2개의 계산기가 필요한 상황이 발상한다면?
result1 = 0
result2 = 0

def adder1(num):
    global result1
    result1 += num
    return result1

def adder2(num):
    global result2
    result2 += num
    return result2

print(adder1(3))
print(adder1(4))
print(adder2(3))
print(adder2(7))

3
7
3
10

In [4]:
# 계산기가 점점 더 많이 필요해진다면? 클래스로 해결할 수 있다.
class Calculator:
    def __init__(self):
        self.result = 0
        
    def adder(self, num):
        self.result += num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.adder(3))
print(cal1.adder(4))
print(cal2.adder(3))
print(cal2.adder(7))

3
7
3
10

### 객체

In [6]:
# 클래스란 똑같은 무엇인가를 계속해서 만들어앨 수 있는 설계 도면
# 객체란 클래스에 의해서 만들어진 피조물

class Programmer:
    pass

kim = Programmer() # kim은 객체다. kim은 Programmer의 인스턴스다.
park = Programmer()

### 이야기 형식으로 클래스 기초 쌓기

In [7]:
# 클래스 변수

class Service:
    secret = "영구는 배꼽이 두 개다."

In [8]:
pey = Service()

In [9]:
pey.secret

'영구는 배꼽이 두 개다.'

In [11]:
Service.secret

'영구는 배꼽이 두 개다.'

In [14]:
Service.secret = "영구는 배꼽이 없다." # 클래스 변수는 공유되는 변수다

In [16]:
print(pey.secret) # pey 객체가 참조하는 secret값이 변경되었다

영구는 배꼽이 없다.

In [17]:
# 클래스 함수
class Service:
    secret = "영구는 배꼽이 두 개다"
    def sum(self, a , b):
        result = a + b
        print("%s + %s = %s입니다." % (a, b, result))

In [18]:
pey = Service()

In [19]:
pey.sum(1, 1)

1 + 1 = 2입니다.

In [23]:
# self 살펴보기
Service.sum(pey, 1, 1)
pey.sum(1, 1) # 첫번째 인수인 self에는 호출 시 이용했던 객체가 자동으로 전달된다

1 + 1 = 2입니다.
1 + 1 = 2입니다.

In [33]:
# 객체 변수
class Service:
    secret = "영구는 배꼽이 두 개다."
    def setname(self, name):
        self.name = name
    def sum(self, a, b):
        result = a + b
        print("%s님 %s + %s = %s입니다." % (self.name, a, b, result))

In [34]:
pey = Service()

In [35]:
pey.setname("홍길동")

In [36]:
pey.sum(1, 1)

홍길동님 1 + 1 = 2입니다.

In [37]:
kim = Service()
park = Service()
kim.name = "김철수"
park.name = "박응용"

In [38]:
print(kim.name)

김철수

In [39]:
print(park.name)

박응용

In [41]:
# __init__이란 무엇인가?

babo = Service() # setname을 입력해주지 않아서 오류가 발생
babo.sum(1, 1)

AttributeError: 'Service' object has no attribute 'name'

In [48]:
class Service:
    secret = "영구는 배꼽이 두 개다"
    def __init__(self, name):
        self.name = name
    def sum(self, a, b):
        result = a + b
        print("%s님 %s + %s = %s입니다." % (self.name, a, b, result))

In [49]:
pey = Service("홍길동")

In [50]:
pey.sum(1, 1)

홍길동님 1 + 1 = 2입니다.

### 사칙연산 클래스 만들기

In [52]:
# 클래스 구조 만들지
class FourCal:
    pass

In [53]:
a = FourCal()
type(a)

__main__.FourCal

In [56]:
# 객체에 숫자 지정할 수 있게 만들기
class FourCal:
    def setdata(self, first, second): # 메서드의 입력 인수
        self.first = first # 메서드의 수행문
        self.second = second # 메서드의 수행문

In [59]:
a = FourCal()
a.setdata(4, 2) # self: 객체 a, first: 4, second: 2 / =FourCal.setdata(a, 4, 2)

In [60]:
print(a.first)

4

In [61]:
print(a.second)

2

In [62]:
b = FourCal()
b.setdata(3, 7)
print(b.first)

3

In [63]:
print(a.first)

4

In [68]:
# 더하기 기능 만들기
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def sum(self):
        result = self.first + self.second
        return result

In [69]:
a = FourCal()
a.setdata(4, 2)
print(a.sum())

6

In [79]:
# 곱하기, 빼기, 나누기 기능 만들기
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def sum(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [80]:
a = FourCal()
b = FourCal()
a.setdata(4, 2)
b.setdata(3, 7)

In [81]:
a.sum()

6

In [82]:
a.mul()

8

In [83]:
a.sub()

2

In [84]:
a.div()

2.0

In [85]:
b.sum()

10

In [86]:
b.mul()

21

In [87]:
b.sub()

-4

In [88]:
b.div()

0.42857142857142855

### "박씨네 집" 클래스 만들기

In [97]:
# 클래스 기능 만들기
class HousePark:
    pass

In [98]:
#  pey.lastname을 출력하면 "박씨네 집"이라는 클래스에 걸맞게 "박"이라는 성을 출력하게 만들기로 하자.
class HousePark:
    lastname = "박"

In [91]:
pey = HousePark()
pes = HousePark()

In [92]:
print(pey.lastname)

박

In [93]:
print(pes.lastname)

박

In [99]:
# 이름을 설정하면 pey.fullname이 성을 포함한 값을 가지도록 만든다.
class HousePark:
    lastname = "박"
    def setname(self, name):
        self.fullname = self.lastname + name

In [100]:
pey = HousePark()
pey.setname("응용")

In [101]:
print(pey.fullname)

박응용

In [102]:
# 여행 가고 싶은 장소를 입력으로 주면 다음과 같이 출력해 주는 travel 함수도 만들어 보자.
class HousePark:
    lastname = "박"
    def setname(self, name):
        self.fullname = self.lastname + name
    def travel(self, where):
        print("%s, %s여행을 가다." % (self.fullname, where))

In [103]:
pey = HousePark()
pey.setname("응용")
pey.travel("부산")

박응용, 부산여행을 가다.

### 초깃값 설정하기

In [112]:
class HousePark:
    lastname = "박"
    def __init__(self, name):
        self.fullname = self.lastname + name
    def travel(self, where):
        print("%s, %s여행을 가다." % (self.fullname, where))

In [113]:
pey = HousePark() # __init__메서드에 name에 대한 입력값이 없으므로 오류가 발생

TypeError: __init__() missing 1 required positional argument: 'name'

In [114]:
pey = HousePark("응용")

In [115]:
pey.travel("태국")

박응용, 태국여행을 가다.

### 클래스의 상속

In [117]:
class HouseKim(HousePark): # class 상속받을 클래스명(상속할 클래스명)
    lastname = "김"

In [118]:
juliet = HouseKim("줄리엣")
juliet.travel("독도")

김줄리엣, 독도여행을 가다.

In [119]:
# 메서드 오버라이딩
class HouseKim(HousePark):
    lastname = "김"
    def travel(self, where, day):
        print("%s, %s여행 %d일 가네." % (self.fullname, where, day))

In [121]:
juliet = HouseKim("줄리엣")
juliet.travel("독도",  3)

김줄리엣, 독도여행 3일 가네.

### 연산자 오버로딩

In [135]:
class HousePark:
    lastname = "박"
    def __init__(self, name):
        self.fullname = self.lastname + name
    def travel(self, where):
        print("%s, %s여행을 가다." % (self.fullname, where))
    def love(self, other):
        print("%s, %s 사랑에 빠졌네" % (self.fullname, other.fullname))
    def __add__(self, other):
        print("%s, %s 결혼했네" % (self.fullname, other.fullname))
        
class HouseKim(HousePark):
    lastname = "김"
    def travel(self, where, day):
        print("%s, %s여행 %d일 가네." % (self.fullname, where, day))

In [136]:
pey = HousePark("응용")

In [137]:
juliet = HouseKim("줄리엣")

In [138]:
pey.love(juliet)

박응용, 김줄리엣 사랑에 빠졌네

In [141]:
pey + juliet # +연산자를 객체에 사용하게 되면 클래스의 __add__라는 함수를 자동으로 호출

박응용, 김줄리엣 결혼했네

### "박씨네 집" 클래스 완성하기

박응용은 부산에 놀러 가고  
김줄리엣도 우연히 3일 동안 부산에 놀러 간다.  
둘은 사랑에 빠져서 결혼하게 된다.  
그러다가 바로 싸우고 이혼을 하게 된다.

In [150]:
class HousePark:
    lastname = "박"
    def __init__(self, name):
        self.fullname = self.lastname + name
    def travel(self, where):
        print("%s, %s여행을 가다" % (self.fullname, where))
    def love(self, other):
        print("%s, %s 사랑에 빠졌네" % (self.fullname, other.fullname))
    def __add__(self, other):
        print("%s, %s 결혼했네" % (self.fullname, other.fullname))
    def fight(self, other):
        print("%s, %s 싸우네" % (self.fullname, other.fullname))
    def __sub__(self, other):
        print("%s, %s 이혼했네" % (self.fullname, other.fullname))

class HouseKim(HousePark):
    lastname = "김"
    def travel(self, where, day):
        print("%s, %s여행 %d일 가네" % (self.fullname, where, day))

In [152]:
pey = HousePark("응용")
juliet = HouseKim("줄리엣")
pey.travel("부산")
juliet.travel("부산", 3)
pey.love(juliet)
pey + juliet
pey.fight(juliet)
pey - juliet

박응용, 부산여행을 가다
김줄리엣, 부산여행 3일 가네
박응용, 김줄리엣 사랑에 빠졌네
박응용, 김줄리엣 결혼했네
박응용, 김줄리엣 싸우네
박응용, 김줄리엣 이혼했네

## 5-5 내장 함수

In [1]:
# abs 절대값을 돌려주는 함수
abs(3)

3

In [2]:
abs(-3)

3

In [3]:
# all 반복 가능한 자료형을 입력 인수로 받으며 모두 참이면 True, 하나라도 거짓이면 False
all([1, 2, 3])

True

In [4]:
all([1, 2, 3, 0])

False

In [5]:
# any 입력 인수중 하나라도 참이면 True, 모두 거짓이면 False
any([1, 2, 3, 0])

True

In [6]:
any([0, ""])

False

In [7]:
# chr 아스키코드값을 입력으로 받아 그 코드에 해당하는 문자를 출력
chr(97)

'a'

In [8]:
chr(48)

'0'

In [9]:
# dir 객체가 자체적으로 가지고 있는 변수나 함수를 보여줌
dir([1, 2, 3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
dir({'1': 'a'})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [12]:
# divmod(a, b) 2개의 숫자를 입력, a를 b로 나눈 몫과 나머지를 튜플 형태로 리턴
divmod(7, 3)

(2, 1)

In [13]:
divmod(1.3, 0.2)

(6.0, 0.09999999999999998)

In [15]:
# enumerate 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력받아 인덱스 값을 포함하는 enumerate객체를 리턴
for i, name in enumerate(['body', 'foo', 'bar']):
    print(i, name)

0 body
1 foo
2 bar

In [17]:
# eval 실행 가능한 문자열(1+2, 'hi'+'a' 등)을 입력받아 문자열을 실행한 결과값을 리턴
eval('1 + 2')

3

In [19]:
eval("'hi' + 'a'")

'hia'

In [20]:
eval('divmod(4, 3)')

(1, 1)

In [24]:
# filter 첫 번째 인수로 함수이름, 두 번째 인수로 반복가능한 자료형, 두 번째 인수의 요소들이 함수에 입력되었을때 리턴값이 참인것만 돌려줌
def positive(l):
    result = []
    for i in l:
        if i > 0:
            result.append(i)
    return result

print(positive([1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [26]:
def positive(x):
    return x > 0

print(list(filter(positive, [1, -3, 2, 0, -5, 6])))

[1, 2, 6]

In [27]:
print(list(filter(lambda x: x > 0, [1, -3, 2, 0, -5, 6])))

[1, 2, 6]

In [28]:
# hex 정수값을 입력받아 16진수로 변환하여 리턴
hex(234)

'0xea'

In [29]:
hex(3)

'0x3'

In [30]:
# id 객체를 입력받아 객체의 고유 주소값(레퍼런스)를 리턴
a = 3
id(3)

1423960592

In [31]:
id(a)

1423960592

In [32]:
b = a
id(b)

1423960592

In [33]:
# input 사용자 입력을 받는 함수
a = input()

hi

In [34]:
a

'hi'

In [35]:
b = input("Enter: ")

Enter: hi

In [36]:
b

'hi'

In [37]:
# int 문자열 형태의 숫자나 소수점이 있는 숫자 등을 전수 형태로 리턴
int('3')

3

In [38]:
int(3.4)

3

In [39]:
# int(x, radix) radix 진수로 표현된 문자열 x를 10진수로 변환하여 리턴
int('11', 2)

3

In [40]:
int('1A', 16)

26

In [41]:
# isinstance(object, class) 입력받은 인스턴스가 그 클래스의 인스턴스인지를 판단하여 참이면 True, 거짓이면 False 리턴
class Person: pass

In [42]:
a = Person()

In [43]:
isinstance(a, Person)

True

In [44]:
b = 3

In [45]:
isinstance(b, Person)

False

In [46]:
# lambda 함수를 생성할 때 사용하는 예약어, def와 동일한 역할
sum = lambda a, b: a + b

In [47]:
sum(3, 4)

7

In [48]:
def sum(a, b):
    return a + b

In [49]:
sum(3, 4)

7

In [50]:
mylist = [lambda a, b: a + b, lambda a, b: a * b]
mylist

In [51]:
mylist[0]

In [52]:
mylist[0](3,4)

7

In [53]:
mylist[1](3,4)

12

In [54]:
# len(s) 입력값 s의 길이(요소의 전첵 개수)를 리턴
len('python')

6

In [55]:
len([1, 2, 3])

3

In [56]:
len((1, 'a'))

2

In [57]:
# list(s) 반복 가능한 자료형 s를 입력받아 리스트로 만들어 리턴
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [58]:
list((1, 2, 3))

[1, 2, 3]

In [60]:
a = [1, 2, 3]
b = list(a)
b

[1, 2, 3]

In [63]:
# map(f, iterable) 함수(f)와 반복 가능한 자료형을 입력받아, 입력받은 자료형의 각 요소가 함수 f에 의해 수행된 결과를 묶어서 리턴
def two_times(numberList):
    result = [ ]
    for number in numberList:
        result.append(number * 2)
    return result

result = two_times([1, 2, 3, 4])
print(result)

[2, 4, 6, 8]

In [65]:
def two_times(x): return x * 2

list(map(two_times, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [66]:
list(map(lambda a: a * 2, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [67]:
# max(iterable) 입력인수로 반복 가능한 자료형을 받아, 그 최대값을 리턴
max([1 ,2, 3])

3

In [69]:
max("python")

'y'

In [68]:
# min(iterable) 입력인수로 반복 간으한 자료형을 받아, 그 최소갑을 리턴
min([1, 2, 3])

1

In [70]:
min("python")

'h'

In [71]:
# oct(x) 정수 형태의 숫자를 8진수 문자열로 바꾸어 리턴
oct(34)

'0o42'

In [72]:
oct(12345)

'0o30071'

In [76]:
# open(filename, [mode]) 파일이름과 읽기방법을 입력받아 파일 객체를 리턴(읽기방법 기본값: r)
f = open("foo.txt", "rb")

In [77]:
# ord(x) 문자의 아스키 코드값을 리턴
ord('a')

97

In [78]:
ord('0')

48

In [79]:
# pow(x, y) x의 y제곱한 결과값을 리턴
pow(2, 3)

8

In [80]:
pow(3, 3)

27

In [82]:
# range([start,] stop [,step]) for문과 함께 자주 사용, 입력받은 숫자에 해당되는 범위의 값을 반복 가능한 객체로 만들어 리턴
list(range(5)) #시작 숫자를 지정해 주지 않으면 0부터 시작

[0, 1, 2, 3, 4]

In [83]:
list(range(5, 10)) # 시작 숫자, 끝 숫자, 단 끝 숫자는 범위에 포함되지 않는다

[5, 6, 7, 8, 9]

In [84]:
list(range(1, 10, 2)) # 세번째 인수는 숫자 사이의 거리

[1, 3, 5, 7, 9]

In [87]:
# sorted(iterable) 입력값을 정렬한 후 그 결과를 리스트로 리턴
sorted([3, 1, 2])

[1, 2, 3]

In [88]:
sorted(['a', 'c', 'b'])

['a', 'b', 'c']

In [89]:
sorted("zero")

['e', 'o', 'r', 'z']

In [90]:
sorted((3, 2, 1))

[1, 2, 3]

In [97]:
a = [3, 1, 2]
result = a.sort() # sort함수는 리턴값이 없다

In [98]:
print(result)

None

In [99]:
a

[1, 2, 3]

In [101]:
# str(object) 문자열 형태로 객체를 변환하여 리턴
str(3)

'3'

In [102]:
str('hi')

'hi'

In [103]:
str('hi'.upper())

'HI'

In [104]:
# tuple(object) 반복 간으한 자료형을 입력받아 튜플 형태로 바꾸어 리턴
tuple("abc")

('a', 'b', 'c')

In [105]:
tuple([1, 2, 3])

(1, 2, 3)

In [106]:
tuple((1, 2, 3))

(1, 2, 3)

In [108]:
# type(object) 입력값의 자료형이 무엇인지 알려주는 함수
type("abc")

str

In [109]:
type([ ])

list

In [110]:
type(open("test", 'w'))

_io.TextIOWrapper

In [111]:
# zip(iterable*) 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 하는 함수
list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]

In [112]:
list(zip([1, 2, 3], [4 ,5 ,6], [7, 8, 9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [115]:
list(zip("abc", "def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]