# 2장 파이썬 프로그래밍의 기초, 자료형

## 2-1 숫자형

### 숫자형은 어떻게 만들고 사용할까?

In [1]:
#정수형
a = 123
a = -178
a = 0

In [2]:
#실수형
a = 1.2
a = -3.45

In [3]:
#8진수
a = 0o177

In [5]:
#16진수
a = 0x8ff
b = 0xABC

### 숫자형을 활용하기 위한 연산자

In [7]:
#사칙연산
a = 3
b = 4
a + b

7

In [8]:
a * b

12

In [9]:
a / b

0.75

In [11]:
# x의 제곱을 나타내는 **연산자
a = 3
b = 4
a ** b

81

In [12]:
# 나눗셈 후 나머지를 반환하는 %연산자
7 % 3

1

In [13]:
3 % 7

3

In [14]:
# 나눗셈 후 소수점 아랫자리를 버리는 //연산자
7 / 4

1.75

In [15]:
7 // 4

1

In [16]:
-7 / 4

-1.75

In [17]:
- 7 // 4

-2

## 2-2 문자열 자료형

### 문자열은 어떻게 만들고 사용할까?

In [24]:
food = "Pythons's favorite food is perl"

In [25]:
food

"Pythons's favorite food is perl"

In [26]:
say = '"Python is very easy." he says.'

In [27]:
say

'"Python is very easy." he says.'

In [28]:
food = 'Pythons\'s favorite food is perl'

In [29]:
say = "\"Python is very easy.\" he says."

In [30]:
food

"Pythons's favorite food is perl"

In [31]:
say

'"Python is very easy." he says.'

In [32]:
# 여러 줄인 문자열을 변수에 대입하고 싶을 때
multiline = "Life is too short\nYou need python"

In [34]:
print(multiline)

Life is too short
You need python

In [37]:
multiline='''
Life is too short
You need Python
'''

In [38]:
print(multiline)

Life is too short
You need Python

### 문자열 연산하기

In [39]:
# 문자열 더해서 연결하기
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [40]:
# 문자열 곱하기
a = "python"
a * 2

'pythonpython'

In [41]:
# 문자열 곱하기 응용
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

### 문자열 인덱싱과 슬라이싱

In [42]:
a = "Life is too short, You need Python"

In [43]:
a[3]

'e'

In [46]:
# 문자열 인덱싱 활용하기
a[-0] # =a[0]

'L'

In [49]:
a[-2] # 뒤에서 두번째

'o'

In [50]:
# 문자열 슬라이싱
a[0:4]

'Life'

In [51]:
a[0:3] # 0 <= a < 3

'Lif'

In [52]:
a[12:17]

'short'

In [53]:
a[19:]

'You need Python'

In [54]:
a[:17]

'Life is too short'

In [55]:
a[:]

'Life is too short, You need Python'

In [56]:
a[19:-7]

'You need'

### 문자열 포매팅

In [58]:
# 숫자 바로 대입
"I eat %d apples." % 3

'I eat 3 apples.'

In [59]:
# 문자열 바로 대입
"I eat %s apples." % "five"

'I eat five apples.'

In [60]:
# 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [61]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

<center>**문자열 포맷코드**

코드|설명
:---|:---
%s|문자열(String)
%c|문자 1개(Character)
%d|정수(Integer)(Digit?)
%f|부동소수(Floating-point)
%o|8진수(Octa)
%x|16진수(Hexa)
%%|Literal %(문자 % 자체)

In [62]:
# 정렬과 공백
"%10s" % "hi"

'        hi'

In [63]:
"%-10sjane" % "hi" # 왼쪽 정렬

'hi        jane'

In [64]:
#소수점 표현하기
"%0.4f" % 3.42134234

'3.4213'

In [66]:
"%10.4f" % 3.42134234

'    3.4213'

### 문자열 관련 함수들

In [69]:
# 문자 개수 세기(count)
a = "hobby"
a.count('b')

2

In [70]:
# 위치 알려주기1(find)
a = "Python is best choice"
a.find('b')

10

In [71]:
a.find('k') # 존재 하지 않을 경우 -1 반환

-1

In [72]:
# 위치 알려주기2(index)
a = "Life is too short"
a.index('t')

8

In [73]:
a.index('k') # 존재 하지 않을 경우 오류발생

ValueError: substring not found

In [74]:
# 문자열 삽입(join)
a = ","
a.join('abcd')

'a,b,c,d'

In [75]:
# 소문자를 대문자로 바꾸기(upper)
a = "hi"
a.upper()

'HI'

In [76]:
# 대문자를 소문자로 바꾸기(lower)
a = "HI"
a.lower()

'hi'

In [77]:
# 왼쪽 공백 지우기(lstrip)
a = " hi "
a.lstrip()

'hi '

In [78]:
# 오른쪽 공백 지우기(rstrip)
a = " hi "
a.rstrip()

' hi'

In [79]:
# 양쪽 공백 지우기(strip)
a = " hi "
a.strip()

'hi'

In [81]:
# 문자열 바꾸기(replace)
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [82]:
# 문자열 나누기(split)
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [84]:
a = "a:b:c:d"
a.split(':')

['a', 'b', 'c', 'd']

### 고급 문자열 포매팅

In [86]:
# 숫자 바로 대입하기
"I eat {0} apples".format(3)

'I eat 3 apples'

In [87]:
# 문자열 바로 대입하기
"I eat {0} apples".format("five")

'I eat five apples'

In [88]:
# 숫자 값을 가진 변수로 대입하기
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [89]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [93]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days'

In [94]:
# 인덱스와 이름을 홍용해서 넣기
"I ate {0} apples. so I was sick for {day} days".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days'

In [95]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [96]:
# 오른족 정렬
"{0:>10}".format("hi")

'        hi'

In [101]:
# 공백 채우기
"{0:=^10}".format("hi")

'====hi===='

In [104]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [105]:
# 소수점 표현하기
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [106]:
"{0:10.4f}".format(y)

'    3.4213'

In [107]:
# { 또는 } 문자 표현하기
"{{ and }}".format()

'{ and }'

## 2-3 리스트 자료형

### 리스트는 어떻게 만들고 사용할까?

In [109]:
odd = [1, 3, 5, 7, 9]

In [110]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [111]:
a

[]

In [112]:
b

[1, 2, 3]

In [113]:
c

['Life', 'is', 'too', 'short']

In [114]:
d

[1, 2, 'Life', 'is']

In [115]:
e

[1, 2, ['Life', 'is']]

### 리스트의 인덱싱과 슬라이싱

In [117]:
# 리스트의 인덱싱
a = [1, 2, 3]
a

[1, 2, 3]

In [118]:
a[0]

1

In [119]:
a[0] + a[2]

4

In [120]:
a[-1]

3

In [121]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [122]:
a[0]

1

In [123]:
a[-1]

['a', 'b', 'c']

In [124]:
a[3]

['a', 'b', 'c']

In [125]:
a[-1][0]

'a'

In [126]:
a[-1][1]

'b'

In [128]:
# 삼중 리스트 인덱싱
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0]

'Life'

In [129]:
# 리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [130]:
a = "12345"
a[0:2]

'12'

In [131]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]

In [132]:
b

[1, 2]

In [133]:
c

[3, 4, 5]

In [134]:
# 중첩된 리스트에서 슬라이싱
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [135]:
a[3][:2]

['a', 'b']

### 리스트 연산자

In [136]:
# 리스트 더하기
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [137]:
# 리스트 반복하기
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [138]:
a = [1, 2, 3]
str(a[2]) + "hi"

'3hi'

### 리스트의 수정, 변경과 삭제

In [8]:
# 리스트에서 하나의 값 수정하기
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [9]:
# 리스트에서 연속된 범위의 값 수정하기
a[1:2]

[2]

In [10]:
a[1:2] = ['a', 'b', 'c'] # a[1] = ['a', 'b', 'c']와는 다르다

In [11]:
a

[1, 'a', 'b', 'c', 4]

In [12]:
# [] 사용해 리스트 요소 삭제하기
a[1:3] = []
a

[1, 'c', 4]

In [13]:
# del함수 사용해 리스트 요소 삭제하기
del a[1]
a

[1, 4]

### 리스트 관련 함수들

In [18]:
# 리스트에 요소 추가(append)
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [19]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [20]:
# 리스트 정렬(sort)
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [21]:
# 리스트 뒤집기(reverse)
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [22]:
# 위치 반환(index)
a = [1, 2, 3]
a.index(3)

2

In [23]:
a.index(1)

0

In [26]:
# 리스트에 요소 삽입(insert)
a = [1, 2, 3]
a.insert(0, 4) # 0번째 위치에 4를 삽입
a

[4, 1, 2, 3]

In [27]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [31]:
# 리스트 요소 제거(remove)
a = [1, 2, 3, 1, 2, 3]
a.remove(3) # 첫 번째로 나오는 3을 제거
a

[1, 2, 1, 2, 3]

In [32]:
a.remove(3)
a

[1, 2, 1, 2]

In [33]:
# 리스트 요소 끄집어내기((pop)
a = [1, 2, 3]
a.pop()

3

In [34]:
a

[1, 2]

In [35]:
a = [1, 2, 3]
a.pop(1)

2

In [36]:
a

[1, 3]

In [37]:
# 리스트에 포함된 요소 x의 개수 세기(count)
a = [1, 2, 3, 1]
a.count(1)

2

In [43]:
# 리스트 확장(extend)
a = [1, 2, 3]
a.extend([4, 5]) # a += [4, 5], a = a + [4, 5] 와 같은 표현
a

[1, 2, 3, 4, 5]

In [44]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

## 2-4 튜플 자료형

### 튜플은 어떻게 만들까?

In [47]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [48]:
# 튜플은 값을 변화시킬 수 없다.
t1 =(1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [49]:
# 인덱싱하기
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [50]:
t1[3]

'b'

In [51]:
# 슬라이싱하기
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [52]:
# 튜플 더하기
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [53]:
# 튜플 곱하기
t2 * 3

(3, 4, 3, 4, 3, 4)

## 2-5 딕셔너리 자료형

### 딕셔너리는 어떻게 만들까?

In [55]:
dic = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
dic

{'birth': '1118', 'name': 'pey', 'phone': '0119993323'}

In [59]:
a = {1: 'hi'} # Key에 정수값, Value에 문자열도 가능

In [60]:
a = {'a': [1, 2, 3]} # Value에 리스트도 가능

### 딕셔너리 쌍 추가, 삭제하기

In [64]:
# 딕셔너리 쌍 추가하기
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [65]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [66]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [67]:
# 딕셔너리 요소 삭제하기
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕셔너리를 사용하는 방법

In [68]:
# 딕셔너리에서 Key 사용해 Value 얻기
grade = {'pey': 10, 'julliet': 99}
grade['pey']

10

In [69]:
grade['julliet']

99

In [70]:
a = {1:'a', 2:'b'}
a[1]

'a'

In [71]:
a[2]

'b'

In [72]:
a = {'a': 1, 'b': 2}
a['a']

1

In [73]:
a['b']

2

In [74]:
dic = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
dic['name']

'pey'

In [75]:
dic['phone']

'0119993323'

In [77]:
dic['birth']

'1118'

In [79]:
# 딕셔너리 만들 때 주의할 사항
a = {1: 'a', 1: 'b'} # 동일한 Key가 존재할 경우 어떤 것이 무시될지 예측할 수 없다.
a

{1: 'b'}

In [80]:
a = {[1, 2]: 'hi'} # Key에는 리스트를 사용할 수 없다.

TypeError: unhashable type: 'list'

### 딕셔너리 관련 함수들

In [82]:
# Key 리스트 만들기(keys)
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [83]:
for k in a.keys():
    print(k)

name
phone
birth

In [84]:
list(a.keys())

['name', 'phone', 'birth']

In [85]:
# Value 리스트 만들기(values)
a.values()

dict_values(['pey', '0119993323', '1118'])

In [86]:
# Key, Value 쌍 얻기(items)
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [88]:
# Key: Value 쌍 모두 지우기(clear)
a.clear()
a

{}

In [89]:
# Key로 Value얻기(get)
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.get('name')

'pey'

In [90]:
a.get('phone')

'0119993323'

In [91]:
a.get('foo', 'bar') # Key값이 없을경우 디폴트로 설정한 bar가 리턴

'bar'

In [92]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기(in)
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
'name' in a

True

In [93]:
'email' in a

False

## 2-6 집합 자료형

### 집합 자료형은 어떻게 만들까?

In [105]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [106]:
s2 = set("Hello") # 중복을 허용하지 않는다. 순서가 없다.
s2

{'H', 'e', 'l', 'o'}

### 집합 자료형의 특징

In [107]:
s1 = set([1, 2, 3]) # 순서를 정해주기 위해리스트로 변환
l1 = list(s1)
l1

[1, 2, 3]

In [108]:
l1[0]

1

In [109]:
t1 = tuple(s1) # 순서를 정해주기 위해 튜플로 변환
t1

(1, 2, 3)

In [110]:
t1[0]

1

### 집합 자료형 활용하는 방법

In [112]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [113]:
# 교집합
s1 & s2

{4, 5, 6}

In [114]:
s1.intersection(s2)

{4, 5, 6}

In [115]:
# 합집합
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [116]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [117]:
# 차집합
s1 - s2

{1, 2, 3}

In [118]:
s2 - s1

{7, 8, 9}

In [121]:
s1.difference(s2)

{1, 2, 3}

In [122]:
s2.difference(s1)

{7, 8, 9}

### 집합 자료형 관련 함수들

In [124]:
# 값 1개 추가하기(add)
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [125]:
# 값 여러개 추가하기(update)
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [126]:
# 특정 값 제거하기(remove)
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

## 2-7 자료형의 참과 거짓

값|참 or 거짓
:---|:---
"python"|참
""|거짓
[1, 2, 3]|참
[]|거짓
()|거짓
{}|거짓
1|참
0|거짓
None|거짓

## 2-8 자료형의 값을 저장하는 공간, 변수

In [127]:
a = 1
b = 'python'
c = [1, 2, 3]

In [129]:
# 변수명 = 변수에 저장할 값
a = 3 # a --> 3

In [130]:
type(3)

int

In [131]:
a = 3
b = 3
a is b

True

### 변수를 만드는 여러 가지 방법

In [135]:
a , b = ('python', 'life') # 튜플

In [136]:
(a, b) = 'python', 'life'

In [137]:
[a, b] = ['python', 'life'] # 리스트

In [138]:
a = b = 'python'

In [139]:
a

'python'

In [140]:
b

'python'

In [141]:
a = 3
b = 5
a, b = b, a

In [142]:
a

5

In [143]:
b

3

### 메모리에 생성된 변수 없애기

In [145]:
a = 3
b = 3
del(a)
del(b)

### 리스트를 변수에 넣고 복사하고자 할 때

In [146]:
a = [1, 2, 3]
b = a
a[1] = 4
a

[1, 4, 3]

In [147]:
b

[1, 4, 3]

In [152]:
# [:]이용
a = [1, 2, 3]
b = a[:] # [:]를 이용해서 복사
a[1] = 4
a

[1, 4, 3]

In [153]:
b

[1, 2, 3]

In [155]:
# copy 모듈 이용
from copy import copy
b = copy(a)

In [156]:
b is a

False